<!DOCTYPE html>
<html>
  <head>
    <title>#Do Card Packs</title>
  </head>
  <body>
    <h3>#Do Card Packs</h3>
    <ul>
      {{#each this}}
      <li><a href="/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  </body>
</html>